#menu {
    position: relative;
    z-index: 2;
} 

#menu a {
    z-index: 2; 
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color:black;
    padding: 10px;
}

#cor1 {
    z-index: 1;
    ;position: absolute;
    background-color: aqua;
    width: 100%;
    left: 0;
    top: 0;
}

#cor1 p {
    color: aqua;
}