body {
    background-color: rgb(246, 211, 217);
}

#foto{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-image: url('Perfil\ Profissional.jpeg');
        background-size: cover;
        background-position: center;
        transform: translateY(40px);
      }

#topo {
    text-align: right;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

#topo a {
    color: rgb(97, 95, 95);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    position: relative;
    padding-right: 10px;
}

.container {
    transform: translateX(-70px);
}
#nome {
    text-indent: 250px;
    transform: translateX(100px);
    transform: translateY(-104px);
    color: rgb(97, 95, 95);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
#sobre1{
    text-indent: 250px;
    transform: translateY(-100px);
    color: rgb(97, 95, 95);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#sobre2 {
    text-indent: 250px;
    transform: translateY(-115px);
    color: rgb(97, 95, 95);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
